# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Output of the coverage, benchmarking, etc.
*.out
*.prof
benchmark-data

# Executables
./gs
./storage-bench

# Dependency directories
vendor/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# macOS files
.DS_Store

# Logs
logs
*.log

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Task files
tasks.json
tasks/
